* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  transition: background-color 0.4s;
}
button,
select {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
  background: radial-gradient(circle at top, rgba(255, 255, 255, 0.04) 5%, transparent 30%) no-repeat, linear-gradient(to bottom, #0e1a3d, #0c1226 500px) no-repeat, #0c1226;
}
.lang-switch {
  border: none;
  background: none;
  outline: none;
  color: #fff;
  margin-right: 65px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  appearance: none;
}
.lang-switch option {
  color: #fff;
  background-color: #0e1a3d;
}
.container {
  max-width: 1450px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.pagination {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__button {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f46371;
  border-radius: 50%;
  color: #f46371;
  transition: 0.3s;
}
.pagination__button.current {
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
  color: #fff;
}
.pagination__dots {
  color: #f46371;
  margin-left: 10px;
  margin-right: 10px;
}
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0e1a3d, #0c1226) no-repeat;
  overflow: hidden;
  z-index: 1000;
}
.loader__circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.8;
  background-color: #009970;
  animation: loader 1s infinite;
}
@keyframes loader {
  25% {
    background-color: #f46371;
    transform: scale(1.1);
  }
  50% {
    background-color: #fffc52;
    transform: scale(1);
  }
  75% {
    background-color: #6eeff8;
    transform: scale(1.1);
  }
  100% {
    background-color: #009970;
    transform: scale(1);
  }
}
.movie-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-loader__spinner {
  width: 70px;
  height: 70px;
  border: 7px solid #009970;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  animation: spin 0.5s linear infinite;
}
@keyframes spin {
  50% {
    border-left-color: #f46371;
    border-right-color: #f46371;
  }
  100% {
    border-left-color: #009970;
    border-right-color: #009970;
    transform: rotate(360deg);
  }
}
.header {
  height: 100px;
  z-index: 20;
}
.header__inner {
  overflow: hidden;
  height: 100px;
  transition: 0.2s;
}
.header .container {
  height: 100px;
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header__logo {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #fff;
  z-index: 5;
}
.header__nav-link {
  color: #fff;
  position: relative;
  opacity: 0.7;
}
.header__nav-link:not(:first-child) {
  margin-left: 50px;
}
.header__nav-link.current {
  opacity: 1;
}
.header__nav-link.current::after {
  content: '';
  position: absolute;
  top: 55px;
  left: 50%;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transform: translateX(-50%);
  box-shadow: 0 -2px 8px -1px #f46371;
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
}
.header__burger {
  background: none;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: none;
  z-index: 5;
}
.header__burger_line {
  width: 25px;
  height: 1px;
  background-color: #fff;
  transition: 0.2s;
}
.header__burger_line:last-child {
  margin-top: 5px;
}
.header.opened {
  position: relative;
}
.header.opened .header__inner {
  height: 140px;
}
.header.opened .header__burger {
  position: relative;
}
.header.opened .header__burger .header__burger_line {
  position: absolute;
  top: 50%;
  left: 50%;
}
.header.opened .header__burger .header__burger_line:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header.opened .header__burger .header__burger_line:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
  margin-top: 0;
}
@media (max-width: 767px) {
  .header__inner {
    position: absolute;
    width: 100%;
    background: #0e1a3d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  }
  .header__inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #0e1a3d;
  }
  .header__nav {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .header__lang-switch {
    position: absolute;
    margin-right: 0;
    bottom: 10px;
    right: 20px;
  }
  .header__burger {
    display: block;
  }
}
.popular-this-week {
  margin-top: 55px;
  overflow: hidden;
}
.popular-this-week h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.05;
  text-align: center;
}
.popular-this-week__carousel {
  display: flex;
  justify-content: space-between;
}
.popular-this-week__carousel-wrapper {
  width: 100%;
  padding-top: 135px;
  padding-bottom: 120px;
  position: relative;
}
.popular-this-week__carousel-wrapper::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  right: 0;
  background: radial-gradient(ellipse at 100%, #0e1a3d, transparent 75%) no-repeat;
  z-index: 5;
}
.popular-this-week__carousel-wrapper::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at 0%, #0e1a3d, transparent 75%) no-repeat;
  z-index: 5;
}
.popular-this-week__carousel .movie-card {
  position: relative;
  height: 350px;
  padding: 35px 35px 35px 0;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0.5;
}
.popular-this-week__carousel .movie-card.active {
  position: relative;
  opacity: 1;
  flex-shrink: 0;
  z-index: 20;
  animation: show-info 0.5s ease-out;
  animation-fill-mode: forwards;
}
.popular-this-week__carousel .movie-card.closed {
  animation: close-info 0.5s ease-out;
  animation-fill-mode: forwards;
}
.popular-this-week__carousel .movie-card__poster {
  position: absolute;
  max-width: 256px;
  height: 110%;
  border-radius: 15px;
  overflow: hidden;
  top: -5%;
  left: -2%;
  box-shadow: 0 0 15px -2px #000;
}
.popular-this-week__carousel .movie-card__poster img {
  height: 100%;
}
.popular-this-week__carousel .movie-card__description {
  width: 400px;
  margin-left: auto;
  font-size: 11px;
  line-height: 1.3em;
  max-height: 350px;
  overflow: hidden;
}
.popular-this-week__carousel .movie-card__title {
  font-size: 22px;
  font-weight: 300;
  line-height: 1em;
  color: #3c486e;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.popular-this-week__carousel .movie-card__original-title,
.popular-this-week__carousel .movie-card__release-date,
.popular-this-week__carousel .movie-card__genres,
.popular-this-week__carousel .movie-card__overview {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.popular-this-week__carousel .movie-card__original-title span:first-child,
.popular-this-week__carousel .movie-card__release-date span:first-child,
.popular-this-week__carousel .movie-card__genres span:first-child,
.popular-this-week__carousel .movie-card__overview span:first-child {
  color: #757575;
}
.popular-this-week__carousel .movie-card__original-title span:last-child,
.popular-this-week__carousel .movie-card__release-date span:last-child,
.popular-this-week__carousel .movie-card__genres span:last-child,
.popular-this-week__carousel .movie-card__overview span:last-child {
  font-weight: 500;
}
.popular-this-week__carousel .movie-card__original-title {
  margin-top: 20px;
}
.popular-this-week__carousel .movie-card__overview p {
  max-width: 300px;
  text-align: justify;
}
.popular-this-week__carousel .movie-card__bottom-panel {
  margin-top: 15px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-this-week__carousel .movie-card__vote-average {
  text-align: center;
  border-right: 1px solid #ccc;
  padding-right: 30px;
  margin-right: 30px;
}
.popular-this-week__carousel .movie-card__vote-average-value {
  font-size: 24px;
  color: #3c486e;
  margin-bottom: 5px;
}
.popular-this-week__carousel .movie-card__vote-average span {
  font-size: 10px;
}
.popular-this-week__carousel .movie-card__see-more {
  color: #f46371;
  border: 1px solid #f46371;
  border-radius: 30px;
  padding: 10px 15px;
  transition: 0.3s;
}
.popular-this-week__carousel .movie-card__see-more:hover {
  background-color: #f46371;
  color: #fff;
}
.popular-this-week__carousel-controls_prev,
.popular-this-week__carousel-controls_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  filter: drop-shadow(0 0 2px #50cdff);
}
.popular-this-week__carousel-controls_prev .arrow,
.popular-this-week__carousel-controls_next .arrow {
  background: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.15em;
  height: 2.15em;
  margin-bottom: 5px;
  font-size: 35px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: transform 0.1s;
}
.popular-this-week__carousel-controls_prev .arrow:active,
.popular-this-week__carousel-controls_next .arrow:active {
  transform: scale(0.7);
}
.popular-this-week__carousel-controls_prev .next-movie-name,
.popular-this-week__carousel-controls_next .next-movie-name,
.popular-this-week__carousel-controls_prev .prev-movie-name,
.popular-this-week__carousel-controls_next .prev-movie-name {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  max-width: 150px;
  margin-top: 10px;
}
.popular-this-week__carousel-controls_prev {
  left: 1em;
  text-align: left;
}
.popular-this-week__carousel-controls_next {
  right: 1em;
  text-align: right;
}
.popular-this-week__carousel-controls_next .arrow {
  margin-left: auto;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.owl-carousel .owl-item.center {
  z-index: 20;
}
@keyframes show-info {
  50% {
    max-width: 250px;
    transform: scale(1.3);
  }
  100% {
    max-width: 720px;
    width: 720px;
    transform: scale(1.3) translateX(-22%);
  }
}
@keyframes close-info {
  0% {
    max-width: 720px;
    width: 720px;
    transform: scale(1.3) translateX(-22%);
  }
  50% {
    transform: scale(1.3);
    max-width: 250px;
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1025px) {
  .popular-this-week .movie-card {
    transition: transform 0.5s;
  }
  .popular-this-week .movie-card__description {
    display: none;
  }
  .popular-this-week .movie-card.active {
    animation: none;
    transform: scale(1.3);
  }
  .popular-this-week .movie-card.closed {
    animation: none;
  }
  .popular-this-week__carousel-controls .arrow {
    font-size: 25px;
  }
}
@media (max-width: 426px) {
  .popular-this-week .movie-card.active {
    transform: scale(1.15);
  }
}
@media (max-width: 321px) {
  .popular-this-week .movie-card {
    transition: opacity 0.5s;
  }
  .popular-this-week .movie-card.active {
    transform: none;
  }
  .popular-this-week__carousel-controls_next .arrow,
  .popular-this-week__carousel-controls_prev .arrow {
    font-size: 16px;
  }
  .popular-this-week__carousel-controls_next span,
  .popular-this-week__carousel-controls_prev span {
    font-size: 12px;
  }
}
.home-page-discover {
  margin-top: 160px;
}
.home-page-discover__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  color: #fff;
}
.home-page-discover__title {
  font-style: 24px;
}
.home-page-discover__nav {
  position: relative;
}
.home-page-discover__nav button {
  border: none;
  background: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}
.home-page-discover__nav button:not(:first-child) {
  margin-left: 70px;
}
.home-page-discover__nav button.current {
  opacity: 1;
}
.home-page-discover__nav-underline {
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 4px;
  border-radius: 5px;
  box-shadow: 0 -2px 8px -1px #f46371;
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
  transition: all 0.4s;
}
.home-page-discover__search {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  align-self: stretch;
  display: flex;
  align-items: center;
}
.home-page-discover__search .search-icon {
  opacity: 0.7;
  margin-right: 20px;
}
.home-page-discover__search input {
  border: none;
  background: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  opacity: 0.7;
  color: #fff;
}
.home-page-discover__search input::placeholder {
  color: #fff;
}
.home-page-discover .discover-movies {
  display: block;
  margin-top: 55px;
  padding-top: 59px;
  padding-bottom: 55px;
  background: radial-gradient(circle at 0%, rgba(255, 255, 255, 0.02) 5%, transparent 10%) no-repeat, linear-gradient(to right, #0b1021, #0a0f20);
  border-radius: 25px;
}
.home-page-discover .discover-movies__list {
  padding-left: 0;
  padding-right: 0;
}
.home-page-discover__discover-more {
  text-decoration: none;
  width: 11em;
  margin-top: 80px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 18px;
  color: #fff;
  border-radius: 35px;
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
  box-shadow: 0 0 10px -1px #f46371;
  transition: all 0.3s;
}
.home-page-discover__discover-more:hover {
  box-shadow: 0 0 15px 0 #f46371;
}
@media (max-width: 426px) {
  .discover-movies .container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 769px) {
  .home-page-discover {
    margin-top: 20px;
  }
  .home-page-discover__header {
    flex-direction: column;
  }
  .home-page-discover__nav {
    margin-top: 30px;
  }
  .home-page-discover__search {
    align-self: center;
    margin-top: 50px;
    border: none;
  }
  .home-page-discover__content {
    margin-top: 30px;
  }
}
.discover-page {
  margin-top: 50px;
  padding-bottom: 50px;
}
.discover-page__pagination {
  margin-top: 50px;
}
@media (max-width: 769px) {
  .discover-page {
    margin-top: 30px;
  }
}
.discover-header__search {
  text-align: center;
  margin-bottom: 50px;
  color: rgba(255, 255, 255, 0.7);
}
.discover-header__search .search-icon {
  margin-right: 15px;
}
.discover-header__search input {
  background: none;
  outline: none;
  width: 50%;
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}
.discover-header__search input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}
.discover-header__search input:focus {
  border: 1px solid #009970;
  box-shadow: 0 0 10px -3px #009970;
}
.discover-header__search input:focus::placeholder {
  color: #009970;
}
.discover-header__controls {
  display: flex;
  justify-content: space-between;
}
.discover-header__show-filters {
  width: 90px;
  height: 30px;
  border: 1px solid #f46371;
  border-radius: 30px;
  color: #f46371;
  font-size: 16px;
  display: none;
  transition: opacity 0.3s;
}
.discover-header__sort-by {
  margin-left: auto;
  color: #fff;
  font-size: 16px;
  transition: opacity 0.3s;
}
.discover-header__sort-by option {
  color: #3c486e;
  font-size: 14px;
}
@media (max-width: 1025px) {
  .discover-header__show-filters {
    display: inline-block;
  }
}
@media (max-width: 426px) {
  .discover-header__search input {
    width: 80%;
    padding: 8px;
  }
}
.discover-movies {
  display: flex;
  padding-top: 50px;
  position: relative;
  height: 100%;
}
.discover-movies__filters {
  width: 250px;
  height: 100%;
  color: #fff;
  padding: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
  z-index: 20;
}
.discover-movies__filters.closed {
  margin-left: -250px;
}
.discover-movies__filters-list-item {
  margin-bottom: 50px;
}
.discover-movies__filters-list-item h3 {
  margin-bottom: 25px;
}
.discover-movies__filters .movie-genres__genre {
  margin-bottom: 10px;
  width: 190px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
.discover-movies__filters .movie-genres__genre input {
  display: none;
  vertical-align: middle;
}
.discover-movies__filters .movie-genres__genre input:checked + span {
  background-color: #009970;
  border: 2px solid #009970;
}
.discover-movies__filters .movie-genres__genre span {
  vertical-align: middle;
}
.discover-movies__filters .movie-genres__genre span:first-of-type {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 0.1s;
}
.discover-movies__filters-submit-button {
  padding: 0.3em 0.5em;
  text-align: center;
  display: block;
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}
.discover-movies__filters .movie-year {
  text-align: center;
}
.discover-movies__filters .movie-year output {
  display: block;
  background-color: #fff;
  color: #3c486e;
  width: 70px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 20px;
}
.discover-movies__filters .movie-year input[type="range"] {
  appearance: none;
  outline: none;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.discover-movies__filters .movie-year input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 10px;
  width: 10px;
  background-color: #009970;
  border-radius: 50%;
  cursor: pointer;
}
@media (max-width: 1025px) {
  .discover-movies__filters {
    position: absolute;
    transform: translateX(-100%);
    background-color: #0c1226;
  }
  .discover-movies__filters.opened {
    transform: translateX(0);
  }
}
.discover-movies__list {
  position: relative;
  display: grid;
  width: 100%;
  min-height: 450px;
  padding-left: 25px;
  padding-right: 25px;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-gap: 55px 40px;
  justify-content: center;
}
.discover-movies__list .movie-card__poster {
  position: relative;
}
.discover-movies__list .movie-card__poster img {
  width: 100%;
  min-height: 100%;
  border-radius: 15px;
}
.discover-movies__list .movie-card__vote-average-value {
  position: absolute;
  width: 2.2em;
  bottom: -3px;
  right: -7px;
  background-color: #fec72a;
  color: #000;
  text-align: center;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 500;
  padding: 1px 8px;
}
.discover-movies__list .movie-card__description {
  margin-top: 15px;
}
.discover-movies__list .movie-card__short-info {
  color: #009970;
  font-size: 14px;
  margin-bottom: 5px;
}
.discover-movies__list .movie-card__title {
  font-size: 18px;
  color: #fff;
}
.discover-movies__list_no-such-results {
  font-size: 25px;
  color: #fff;
  width: 100%;
  text-align: center;
}
@media (max-width: 769px) {
  .discover-header {
    margin-top: 50px;
  }
  .discover-movies__list {
    grid-template-columns: repeat(auto-fit, 150px);
    padding-left: 0;
    padding-right: 0;
  }
  .discover-movies__list .movie-card__image img {
    border-radius: 10px;
  }
  .discover-movies__list .movie-card__short-info {
    font-size: 12px;
    margin-bottom: 5px;
  }
}
@media (max-width: 370px) {
  .discover-movies__list {
    grid-template-columns: repeat(auto-fit, 130px);
  }
  .discover-movies__list .movie-card__vote-average-value {
    font-size: 14px;
  }
}
.movie-page-wrapper {
  background-color: #0c1226;
  padding-bottom: 50px;
}
.movie-preview {
  position: relative;
  min-height: 800px;
  background-image: url('../img/star-wars.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.movie-preview::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0c1226, transparent 90%), linear-gradient(to top, #0c1226, transparent 90%), linear-gradient(to left, #0c1226, transparent 90%);
}
.movie-preview__content {
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
  z-index: 10;
}
.movie-preview .top-panel {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.movie-preview .top-panel .back-icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}
.movie-preview .movie-description {
  margin-top: 150px;
  color: #fff;
}
.movie-preview .movie-description__name {
  max-width: 100%;
  font-weight: 700;
  font-size: 50px;
}
.movie-preview .movie-description__overview {
  margin-top: 25px;
  max-width: 700px;
  line-height: 1.5em;
  font-weight: 300;
}
.movie-preview .movie-description__runtime {
  background: linear-gradient(to top, #dd5765, #f46371) no-repeat;
  min-width: 40px;
  max-width: 90px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0.3em;
  text-align: center;
  border-radius: 15px;
}
.movie-preview .movie-description__release-year {
  vertical-align: middle;
}
.movie-preview .movie-description__release-year::after {
  content: '';
  width: 5px;
  height: 5px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: middle;
}
.movie-preview .movie-description__vote {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.movie-preview .movie-description__vote .fire-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #f46371;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.movie-preview .movie-description__vote-average {
  font-size: 35px;
  color: #f46371;
  margin-left: 15px;
}
.movie-preview .movie-description__vote-max {
  line-height: 35px;
  margin-left: 10px;
  margin-bottom: 1em;
}
@media (max-width: 426px) {
  .movie-preview .movie-description {
    margin-top: 100px;
  }
  .movie-preview .movie-description__name {
    font-size: 40px;
  }
}
@media (max-width: 376px) {
  .movie-preview .movie-description__overview {
    font-size: 14px;
  }
}
@media (max-width: 321px) {
  .movie-preview .movie-description__name {
    font-size: 30px;
  }
}
.movie-info {
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  z-index: 20;
}
.movie-info h2 {
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 300;
  color: #fff;
}
.movie-info__content {
  display: flex;
  justify-content: space-between;
}
.movie-info__content-row {
  max-width: 850px;
  width: 100%;
}
.movie-info__starring-list {
  display: flex;
}
.movie-info__no-such-info {
  font-size: 14px;
  color: #727272;
  padding-left: 10px;
}
.movie-info__actor {
  width: 150px;
}
.movie-info__actor:not(:last-child) {
  margin-right: 25px;
}
.movie-info__actor-photo {
  width: 100%;
  border-radius: 15px;
}
.movie-info__actor-info {
  color: #fff;
  text-align: center;
}
.movie-info__actor-name {
  margin-top: 10px;
  margin-bottom: 5px;
}
.movie-info__actor-role {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.movie-info__simular-movies {
  width: 350px;
}
.movie-info__simular-movies-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-info__simular-movie {
  width: 150px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 10px;
}
.movie-info__simular-movie::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000, transparent 70%);
}
.movie-info__simular-movie-poster {
  width: 100%;
  height: 100%;
}
.movie-info__simular-movie-name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  z-index: 10;
}
.movie-info__trailer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.movie-info__trailer-video {
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
}
@media (max-width: 1320px) {
  .movie-info__content {
    flex-direction: column;
  }
  .movie-info__starring-list {
    flex-wrap: wrap;
  }
  .movie-info__actor {
    margin-bottom: 20px;
  }
  .movie-info__simular-movies {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .movie-info__starring-list {
    justify-content: center;
  }
  .movie-info__trailer-video {
    height: 350px;
  }
}
@media (max-width: 750px) {
  .movie-info__actor,
  .movie-info__simular-movie {
    width: 130px;
  }
  .movie-info__actor-photo {
    border-radius: 10px;
  }
  .movie-info__simular-movies-list {
    justify-content: center;
  }
  .movie-info__simular-movie {
    border-radius: 10px;
  }
}
@media (max-width: 425px) {
  .movie-info {
    margin-top: 0;
  }
  .movie-info__actor,
  .movie-info__simular-movie {
    width: 100px;
  }
  .movie-info__trailer-video {
    height: 250px;
  }
}
